:root {
  --primary-color: #000000;
  --text-color: #ffffff;
  --tl: 200px; /*Triangle length*/
	--hl: 20px; /*Hover length*/
}

body {
  background-image: url('../public/city_in_space.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center, center;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background: red;
	font-family: 'Poppins', sans-serif;
}

@font-face {
	font-family: 'Poppins';
	src: url('../public/Poppins-Regular.ttf') format('truetype')
}

/*
@media only screen and ( width < 100px ) {
	body{
		background-size: cover 100%;
	}
}
*/
